@mixin flexrow {
    display:flex;
    flex-direction: row;
}

@mixin flexcol {
    display:flex;
    flex-direction: column;
}

@mixin aligncenter {
    display:flex;
    align-items: center;
}

@mixin bgcircle {
    border-radius: 50%;
    background-color:#c89cc4;
}

@mixin gtitle {
    color:gray;
    font-size:15px;
}